.nav {
    background-image: url('/static/img/ascii_art.png');
    background-size: cover; /* Adjust as needed */
    /* Add other background properties as needed */
}

.ascii-art-container {
    font-family: monospace;
    white-space: pre-wrap; /* This allows the ASCII art to wrap if it exceeds the container width */
}


