.nav {
    background-image: url('/static/img/ascii_art.png');
    background-size: cover; /* Adjust as needed */
    /* Add other background properties as needed */
}

.image-container {
    max-width: 100%;
    overflow-x: auto;
}

