.nav {
    background-image: url('/static/img/ascii_art.png');
    background-size: cover; /* Adjust as needed */
    /* Add other background properties as needed */
}

.image-container {
    max-width: 100%;
    overflow-x: auto;
}

.ascii-art-container {
    max-width: 100%; /* Allow the container to adjust based on content */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.ascii-art {
    font-size: 1vw; /* Adjust font size based on viewport width */
}
