{% extends 'base.html' %}
{% block content %}
<h1>ASCII ART GENERATOR</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet posuere eros, 
    vel euismod odio. Pellentesque et placerat nisl, eu varius quam. Suspendisse potenti. 
    Mauris porta tortor quis ipsum elementum, eu fringilla orci gravida. Nunc eu gravida 
    ligula, eget efficitur sapien. Class aptent taciti sociosqu ad litora torquent per 
    conubia nostra, per inceptos himenaeos. Donec a tortor nibh. Fusce bibendum blandit 
    enim nec dapibus. Aenean lacinia velit est, eget posuere dolor mattis ac.
</p>

{% endblock %}